.cont > * {
  margin: 15px 0;
}

.loading-gif {
  width: 100px;
  height: 100px;
}

#webcam {
  width: 500;
  height: auto;
}

.result-box {
  width: 500px;
}

.probability-label {
  font-weight: 600;
}
