.cont > * {
  margin: 15px 0;
}

.loading-gif {
  width: 100px;
  height: 100px;
}

img {
  width: auto;
  height: 400px;
}

.result-box {
  width: 500px;
}

.probability-label {
  font-weight: 600;
}
